<cgi-top-nav>
  <section class="cgi-top-nav--left">
    <cgi-top-nav-item menuItem>
    </cgi-top-nav-item>
    <cgi-top-nav-item>
      <span class="cgi-logo">CGI
        <span class="cgi-logo--red">Plan Administration
          <sup class="cgi-logo--sup">TM</sup>
        </span>
      </span>
    </cgi-top-nav-item>
    <cgi-top-nav-item>
        <cgi-global-search
          [categories]="categories"
          [enableCategory]="enableCategory"
          [globalSearchResult]="globalSearchResult"
          (optionSelected)="onEnter($event)"
          (search)="loadSearchResults($event)"
          [isLoading]="isLoading"
          [globalSearchResultSize]="globalSearchResultSize"
          [panelWidth]="panelWidth"
        ></cgi-global-search>
      </cgi-top-nav-item>
  </section>
</cgi-top-nav>

<cgi-nav-container>
  <cgi-side-nav [links]="links"></cgi-side-nav>
  <cgi-nav-content>
    <router-outlet></router-outlet>
  </cgi-nav-content>
</cgi-nav-container>
