// You can add global styles to this file, and also import other style files //
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/utilities';
@import '~@cgi/sentry-angular-components-lib/stylesheets/cgi-material-theme';

body,
html {
  margin: 0;
  width: 100vw;
}

body {
  font-family: 'Roboto', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}
