<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  <!-- Form Action Buttons -->
  <div class="float-right">
    <button color="primary" mat-stroked-button (click)="override()">Override</button>
    <button type="submit" class="mr-0" color="accent" mat-flat-button>Save</button>
  </div>
  <div class="cgi-vertical-spacer-2"></div>
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>
        <div class="row"><div class="col-lg-12">Client Information</div></div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <!-- Linked Checkbox -->
        <div class="col-lg-12"><mat-checkbox disabled="true">Linked</mat-checkbox></div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <!-- Title Input -->
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <mat-select formControlName="title" placeholder="Title">
              <mat-option *ngFor="let title of titles" [value]="title">{{ title }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <!-- Last Name Input -->
          <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName" placeholder="Last name" />
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <!-- First Name Input -->
          <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName" placeholder="First name" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <!-- Middle Name Input -->
          <mat-form-field appearance="outline">
            <mat-label>Middle name</mat-label>
            <input matInput formControlName="secondName" placeholder="Middle name" />
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <!-- Third Name Input -->
          <mat-form-field appearance="outline">
            <mat-label>Third name</mat-label>
            <input matInput formControlName="thirdName" placeholder="Third name" />
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <!-- Suffix Input -->
          <mat-form-field appearance="outline">
            <mat-label>Suffix</mat-label>
            <mat-select formControlName="suffix" placeholder="Suffix">
              <mat-option *ngFor="let suffix of suffixes" [value]="suffix"
                >{{ suffix }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <!-- SIN Input -->
          <mat-form-field appearance="outline">
            <mat-label>SIN</mat-label>
            <input matInput formControlName="sinOrBin" placeholder="SIN" />
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <!-- Birth date Input -->
          <mat-form-field appearance="outline">
            <mat-label>Birthdate</mat-label>
            <input
              matInput
              formControlName="dateOfBirth"
              [matDatepicker]="birthdatePicker"
              placeholder="Birthdate"
              floatLabel="always"
            />
            <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
            <mat-datepicker #birthdatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <!-- Gender Input -->
          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" placeholder="Gender">
              <mat-option *ngFor="let gender of genders" [value]="gender">{{ gender }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <!-- Language Input -->
          <mat-form-field appearance="outline">
            <mat-label>Language</mat-label>
            <input matInput formControlName="language" placeholder="Language" />
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline">
            <!-- Residency Input -->
            <mat-label>Country of residency</mat-label>
            <mat-select formControlName="residency" placeholder="Country of residency">
              <mat-option *ngFor="let residency of countries" [value]="residency.name.trim()"
                >{{ residency.name.trim() }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline">
            <!-- Date of Death Input -->
            <mat-label>Date of death (if deceased)</mat-label>
            <input
              matInput
              formControlName="dateOfDeath"
              [matDatepicker]="dateOfDeathpicker"
              placeholder="Date of death (if deceased)"
              floatLabel="always"
            />
            <mat-datepicker-toggle matSuffix [for]="dateOfDeathpicker"></mat-datepicker-toggle>
            <mat-datepicker #dateOfDeathpicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <!-- Client class Input -->
          <mat-form-field appearance="outline">
            <mat-label>Client class</mat-label>
            <mat-select formControlName="clientClass" placeholder="Client class">
              <mat-option *ngFor="let clientClass of clientClasses" [value]="clientClass"
                >{{ clientClass }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <!-- Client XREF Input -->
          <mat-form-field appearance="outline">
            <mat-label>Client XREF</mat-label>
            <input matInput formControlName="clientXREF" placeholder="Client XREF" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
<div class="cgi-vertical-spacer-2"></div>
