.address-card {
  .mat-icon {
    font-size: 15px;
    color: #016e95;
  }

  .address-card-box {
    background-color: #f6f7f7;
  }

  .address-card-actions {
    margin-left: auto;
  }

  p {
    font-weight: 400;
    margin-bottom: 5px;
  }

  p.cgi-body-1 {
    font-weight: 500;
  }
}
