<div class="float-right">
  <button class="mr-0" color="accent" mat-flat-button (click)="addAddress()">
    Add new address
  </button>
</div>

<div class="cgi-vertical-spacer-2"></div>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div class="row"><div class="col-lg-12">Addresses</div></div>
    </mat-card-title>
  </mat-card-header>
  <div class="cgi-vertical-spacer-1"></div>
  <mat-card-content>
    <div class="row">
      <div class="col-lg-4 address-card" *ngFor="let address of clientAddress">
        <div class="d-flex">
          <!-- Client Address Purpose -->
          <h5 class="cgi-display-5 mt-0">{{ address.purpose }}</h5>
          <div class="address-card-actions">
            <mat-icon class="far fa-trash-alt mr-3"></mat-icon>
            <mat-icon class="far fa-pencil"></mat-icon>
          </div>
        </div>
        <div class="address-card-box p-3 shadow-none rounded">
          <!-- Client Address Line1 -->
          <p class="cgi-body-1">{{ address.addrLine1 }}</p>
          <!-- Client Address Line2 -->
          <p class="cgi-body-1">{{ address.addrLine2 }}</p>
          <!-- Client Address Effective Range -->
          <p class="cgi-body-2">Effective Range:</p>
          <!-- Effective Start Date is valid but End Date is invalid : Display only Start Date -->
          <div *ngIf="(address.effectiveStartDate !== '0001-01-01' && address.effectiveStartDate !== '3000-01-01') && (address.effectiveEndDate === '0001-01-01' || address.effectiveEndDate === '3000-01-01')">
            <p class="cgi-body-1">
              {{ address.effectiveStartDate }}
            </p>
          </div>
          <!-- Effective dates are valid : Display full effective date range -->
          <div *ngIf="address.effectiveStartDate !== '0001-01-01' && address.effectiveStartDate !== '3000-01-01' && address.effectiveEndDate !== '0001-01-01' && address.effectiveEndDate !== '3000-01-01'">
            <p class="cgi-body-1">
              {{ address.effectiveStartDate }} to {{ address.effectiveEndDate }}
            </p>
          </div>
          <p class="cgi-body-2">Seasonal Range:</p>
          <!-- Seasonal Range is valid: Display full seasonal date range -->
          <div *ngIf="address.seasonalStartDate !== '3000-01-01' && address.seasonalStartDate !== '0001-01-01' && address.seasonalEndDate !== '3000-01-01' && address.seasonalEndDate !== '0001-01-01'">
              <p class="cgi-body-1">
              {{ address.seasonalStartDate }} to {{ address.seasonalEndDate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<div class="cgi-vertical-spacer-2"></div>
