<cgi-breadcrumbs>
  <cgi-breadcrumb-item> <a routerLink="/home" class="pl-0">Dashboard</a> </cgi-breadcrumb-item>
  <cgi-breadcrumb-item> {{ title }} </cgi-breadcrumb-item>
</cgi-breadcrumbs>

<div class="container-fluid">
  <h1 class="cgi-display-1 mb-md-0">{{ title }}</h1>
  <div class="float-right">
    <button color="primary" class="mr-0" mat-flat-button (click)="addNewClient()">
      Add new client
    </button>
  </div>

  <div class="cgi-vertical-spacer-2"></div>

  <mat-card>
    <mat-card-title>
      <h3>Clients List</h3>

      <!-- Search : Client List -->
      <div class="table-search">
        <form [formGroup]="clientTableSearchForm">
          <mat-form-field>
            <input
              matInput
              placeholder="Search"
              aria-label="Search"
              formControlName="tableSearch"
            />
          </mat-form-field>
        </form>
      </div>
      <div class="table-filter"><a class="cgi-link" href="#">Advanced Filters</a></div>
    </mat-card-title>
    <mat-card-content>
      <!-- Total Record -->
      <h3 class="cgi-body-3">Search Results ({{ totalRecordCount }})</h3>
      <div class="spinner-container" *ngIf="(dataSource.loading$ | async)">
        <mat-spinner></mat-spinner>
      </div>
      <div class="cgi-data-tables-style__tables">
        <table mat-table matSort [dataSource]="dataSource">
          <!-- Client Name Column -->
          <ng-container matColumnDef="clientName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
            <td mat-cell *matCellDef="let client">{{ client.clientName }}</td>
          </ng-container>

          <!-- Type Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let client">{{ client.type }}</td>
          </ng-container>

          <!-- Residency Column -->
          <ng-container matColumnDef="residency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Residency</th>
            <td mat-cell *matCellDef="let client">{{ client.residency }}</td>
          </ng-container>

          <!-- SIN/BIN Column -->
          <ng-container matColumnDef="sinBin">
            <th mat-header-cell *matHeaderCellDef>SIN/BIN</th>
            <td mat-cell *matCellDef="let client">{{ client.sinOrBin }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            routerLink="/client/{{ row.clientCoidId }}"
          ></tr>
        </table>

        <!-- Pagination : Client List -->
        <mat-paginator
          [length]="totalRecordCount"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
        ></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="cgi-vertical-spacer-2"></div>
