<div class="float-right">
  <button class="mr-0" color="accent" mat-flat-button (click)="addNewPlan()">Add new plan</button>
</div>

<div class="cgi-vertical-spacer-2"></div>

<mat-card>
  <mat-card-title>
    <h3>Associated plans</h3>
    <div class="table-search">
      <form [formGroup]="clientTableSearchForm">
        <mat-form-field>
          <input matInput placeholder="Search" aria-label="Search" formControlName="tableSearch" />
        </mat-form-field>
      </form>
    </div>
    <div class="table-filter"><a class="cgi-link" href="#">Advanced Filters</a></div>
  </mat-card-title>
  <mat-card-content>
    <div class="cgi-data-tables-style__tables">
      <table mat-table matSort [dataSource]="dataSource">
        <ng-container matColumnDef="planId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Plan ID</th>
          <td mat-cell *matCellDef="let plan">{{ plan.planId }}</td>
        </ng-container>

        <ng-container matColumnDef="planType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Plan Type</th>
          <td mat-cell *matCellDef="let plan">{{ plan.planType }}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
          <td mat-cell *matCellDef="let plan">{{ plan.role }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let plan">{{ plan.status }}</td>
        </ng-container>

        <ng-container matColumnDef="creationDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation date</th>
          <td mat-cell *matCellDef="let plan">{{ plan.creationDate }}</td>
        </ng-container>

        <ng-container matColumnDef="adminUnitId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin Unit</th>
          <td mat-cell *matCellDef="let plan">{{ plan.adminUnitId }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
<div class="cgi-vertical-spacer-2"></div>
