:host {
  .spinner-container {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 45%;

    .mat-progress-spinner,
    .mat-spinner {
      margin: 0 auto;
    }
  }

  .mat-table {
    width: 100%;
  }
}

h1.cgi-display-1 {
  margin-top: 1rem;
}

.mat-card-title {
  display: flex;
  margin-bottom: 0px;
}

.table-search {
  margin-left: auto;
  width: 280px;

  mat-form-field {
    width: 250px;
  }
}

.table-filter {
  margin-bottom: auto;
  margin-top: auto;
  padding: 10px;
}
