<cgi-breadcrumbs>
  <cgi-breadcrumb-item> <a routerLink="/home" class="pl-0">Dashboard</a> </cgi-breadcrumb-item>
  <cgi-breadcrumb-item> <a routerLink="/clients">Clients</a> </cgi-breadcrumb-item>
  <cgi-breadcrumb-item> {{ clientName }} </cgi-breadcrumb-item>
</cgi-breadcrumbs>

<div class="container-fluid">
  <div class="d-flex mt-4">
    <h1 class="cgi-display-1 mt-0">{{ clientName }}</h1>

    <!-- Client Detail Actions -->
    <div class="client-detail-actions">
      <mat-icon class="far fa-sm fa-question-circle"></mat-icon>
      <button class="m-0" color="accent" mat-icon-button (click)="bookmark()">
        <mat-icon class="far fa-1x fa-bookmark"></mat-icon>
      </button>
    </div>
  </div>

  <!-- Client Detail Tab Group -->
  <mat-tab-group>
    <mat-tab label="Details">
      <cgi-client-details [clientDetail]="clientDetail"></cgi-client-details>
    </mat-tab>
    <mat-tab label="Associated plans"> <cgi-associated-plans></cgi-associated-plans> </mat-tab>
    <mat-tab label="Addresses"> <cgi-client-address></cgi-client-address> </mat-tab>
    <mat-tab label="Exceptions"> </mat-tab>
    <mat-tab label="History"> </mat-tab>
  </mat-tab-group>
</div>
